@import '../../../styles/settings.scss';

.root {
  width: 100vw;
  height: 100vh;
  background: rgb(61, 61, 61);
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
